body {
    text-align: center;
    /* width: 1800px; */
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 14pt;

}

.introduction {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 5%;
    color: white;
}

#welcome {
    font-size: 40pt;
    font-weight: 600;
}

#landingPage img {
    padding-top: 10%;
    padding-bottom: 5%;
}

.aboutUs {
    padding: 5%;
}

.services {
    padding: 5%;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.whatWeDo {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#dev_text,
#design_text,
#product_text {
    display: none;
}

.row {
    margin-bottom: 10px;
}

.col-md-12 {
    background-color: rgb(0, 128, 32);
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

h2 {
    padding-bottom: 30px;
}